<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width: 500px">
    <img src="http://localhost:8000/user-123-369-36955/video-1859c6ee-2c84-4bcd-a4cb-fb534d3055c4/unit.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=32t2cwCIdputIRatOn8I%2F20240814%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240814T190847Z&X-Amz-Expires=1000&X-Amz-SignedHeaders=host&X-Amz-Signature=072bdabae4d722293f61673a1dd4e26c28fac7c5c9b40159342f6d3920018280">
</div>

<video width="400" controls>
    <source src="http://localhost:8000/user-123-369-36955/video-d57e6faf-df7c-4efe-9ab8-1100f6314cc4/1.%20NGINX%20Configuration%20Terminology.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=32t2cwCIdputIRatOn8I%2F20240814%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240814T191707Z&X-Amz-Expires=1000&X-Amz-SignedHeaders=host&X-Amz-Signature=7053a68b7b2b23f6c53083ede36c2e612de72f5e6d59d142b1da68f4c5ccd4e5
" type="video/mp4">
</video>

</body>
</html>